{% extends 'base.html.twig' %}

{% block body %}

    {% for projet in projets %}
        {{ projet.id }}<br>
        {{ projet.nom_projet}}<br>
        {{ projet.description}}<br>
        {{ projet.date_debut|date('d/m/Y') }}<br>
        {{ projet.date_fin|date('d/m/Y') }}<br>
        {{ projet.date_butoir|date('d/m/Y') }}<br>
        {{ projet.fonctionnalite_dev}}<br>
        {{ projet.hebergement}}<br>
        {{ projet.preprod}}<br>
        {{ projet.url}}<br>
        <a href="{{ path('edit-projet', {id:projet.id}) }}"> Modifier</a> /
        <a href="{{ path('delete-projet', {id:projet.id}) }}"> Supprimer</a><br><br>
    {% endfor %}

    <a href="{{ path('new-projet') }}">Ajouter un projet</a>

{% endblock %}