{% extends 'base.html.twig' %}

{% block body %}

    {% for collab in collabs %}
        {{ collab.id }}<br>
{#        {{ collab.nomProjet}}<br>#}
{#        {{ collab.dateDebut|date('d/m/Y') }}<br>#}
{#        {{ collab.dateButoir|date('d/m/Y') }}<br>#}



        {#        <a href="{{ path('details-projet', {id:projet.id}) }}"> Détails</a><br><br>#}
    {% endfor %}


{% endblock %}
